table,
th,
td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 1rem;
}

table>tr:first-child>td {
	font-size: 2rem !important;
	padding: 0.2rem !important;
}

table tr:nth-child(odd) {
	background-color: #f1f1f1;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}